h1 {
  color: #4b4b4b;
  font-size: 30px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 70px;
  text-align: center;
  color: #4b4b4b;
  padding-bottom: 0px;
}

h5 {
  font-size: 18px;
  color: rgb(155, 155, 155);
  text-align: center;
}
ul {
  margin: 0;
  padding: 10px;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(155, 155, 155);
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
}

small {
  display: block;
  text-align: center;
}
img {
  display: flex;
  margin: 18px;
}

.change {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.col-12 {
  max-width: 30px;
  align-items: center;
}

.overview {
  margin-bottom: 20px;
}

.source {
  text-decoration: none;
  color: rgb(27, 147, 177);
}

.weather-app-wrapper {
  max-width: 325px;
  max-height: 600px;
  margin: 30px auto 10px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #b9b9bb;
  border-radius: 5px;
}
