h1 {
  color: #4b4b4b;
  font-size: 30px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 70px;
  text-align: right;
  color: #4b4b4b;
  padding-bottom: 0px;
  position: relative;
  left: -18px;
}

h5 {
  font-size: 18px;
  color: rgb(155, 155, 155);
  text-align: center;
}
ul {
  margin: 0;
  padding: 10px;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(155, 155, 155);
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
}

small {
  display: block;
  text-align: center;
}
img {
  display: flex;
  margin: 18px;
}

button {
  border-radius: 20px;
  width: 40px;
}

#buttons {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  left: -50px;
  top: 15px;
}

.imperial,
.metric {
  text-decoration: none;
}

.col-12 {
  max-width: 30px;
  align-items: center;
}

.overview {
  margin-bottom: 20px;
}

.source {
  text-decoration: none;
  color: rgb(27, 147, 177);
}

.weather-app-wrapper {
  max-width: 325px;
  max-height: 575px;
  margin: 30px auto 10px auto;
}
.weather-app {
  padding: 30px 20px 15px 20px;
  border: 1px solid #b9b9bb;
  border-radius: 20px;
}

.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}

.search-icon {
  position: absolute;
  top: -8px;
  right: 20px;
  width: 15px;
  cursor: pointer;
}

.btn {
  display: block;
  position: relative;
  left: -15px;
}

#search-form {
  margin-bottom: 25px;
}
