h1 {
  color: #4b4b4b;
  font-size: 30px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 70px;
  text-align: center;
  color: #4b4b4b;
  padding-bottom: 0px;
  position: relative;
}

h5 {
  font-size: 18px;
  color: rgb(155, 155, 155);
  text-align: center;
}
ul {
  margin: 0;
  padding: 10px;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(155, 155, 155);
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
}

small {
  display: block;
  text-align: center;
}
.icon {
  position: relative;
  margin: 18px;
  right: 30px;
  bottom: 20px;
}

button {
  border-radius: 20px;
  width: 40px;
}

#buttons {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  left: -50px;
  top: 15px;
}

.forecastHi {
  color: #3f3532;
  margin: 5px;
}

.forecastLow {
  color: rgb(63, 77, 77);
  margin: 5px;
}

.forecastIcons {
  height: 32px;
}
.btn-primary {
  background-color: #dba3d2;
  border-color: #dba3d2;
}

.dd {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  margin: auto;
  color: #4b4b4b;
  padding-bottom: 30px;
}

h6 {
  font-size: 30px;
  font-weight: 500;
  color: #4b4b4b;
}

.imperial,
.metric {
  text-decoration: none;
}

.col-12 {
  max-width: 30px;
  align-items: center;
}

.source {
  text-decoration: none;
  color: rgb(27, 147, 177);
}

.weather-app-wrapper {
  max-width: 325px;
  max-height: auto;
  margin: 30px auto 10px auto;
}
.weather-app {
  padding: 30px 20px 15px 20px;
  border: 1px solid #b9b9bb;
  border-radius: 20px;
}

.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}

.search-icon {
  position: absolute;
  top: -8px;
  right: 20px;
  width: 15px;
  cursor: pointer;
}

.btn {
  display: block;
  position: relative;
  left: -15px;
}

#search-form {
  margin-bottom: 25px;
}

.units {
  display: block;
  margin: auto;
  text-align: center;
}

.active,
.inactive {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  font-size: 14px;
}

.weather-forecast-temperature-max {
  color: #4b4f5e;
}

.weather-forecast-temperature-min {
  color: #6e7488;
}

.forecastDay {
  display: block;
  padding: 0px;
  align-items: center;
}

.containerForecast {
  text-align: center;
}
